<!DOCTYPE html>
<html class="no-js" lang="zxx">
   
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Oneness Homoeo & Acupuncture Clinic</title>
        <meta name="author" content= />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
       
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
       
        <link rel="icon" type="image/png"  href="assets/img/favicon.png" />
       
        <link rel="preconnect" href="https://fonts.googleapis.com/" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/app.min.css" />
        <link rel="stylesheet" href="assets/css/fontawesome.min.css" />
        <link rel="stylesheet" href="assets/css/style.css" />
		    <link rel="stylesheet" href="assets/css/responsive.css" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
      
     

        <div class="th-menu-wrapper">
            <div class="th-menu-area text-center">
                <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
                <div class="mobile-logo">
                    <a href="index.html" > <h3>Healer Sabu Joseph</h3></a>
                </div>
				<div class="mobile-login">
				<a href="#" data-bs-toggle="modal" data-bs-target="#SigninModal">Login</a>
				
		   </div>
                <div class="th-mobile-menu">
                    <ul>
                      <li><a href="index.html">Home</a></li>
           <li><a href="about.html">About Us</a></li>
           <li><a href="courses.html">Courses</a></li>
		 
   <li><a href="testimonial.html">Testimonials</a></li>
     <li><a href="contact.html">Contact Us</a></li>
 </ul>
                  
                </div>
            </div>
        </div>
     <header class="th-header header-layout2 header-layout4">
         <div class="header-top">
                <div class="container ">
                    <div class="row justify-content-end  align-items-center  ">
                       
                        <div class="col-auto">
                            <div class="header-links">
                                <ul>
                                    <li><i class="fal fa-location-dot"></i>Mookkannoor, Kerala </li>    
                                    <li><i class="fal fa-phone"></i><a href="tel:+91 9747532827">+91 9747532827</a></li>
									<li><i class="fab fa-whatsapp"></i><a ref="https://api.whatsapp.com/send/?phone=+91 9747532827&text=%2AHey  Oneness Homoeo & Acupuncture Clinic+&app_absent=0" target="_blank">+91 9747532827</a></li>
                                </ul>
                            </div>
                        </div>
						
						<div class="col-auto">
						
						<ul class="social-profile list-style style1">
                                        <li>
                                        <a href="#" target="_blank">
                                            <img src="assets/img/s1.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                           <img src="assets/img/s2.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <img src="assets/img/s3.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                             <img src="assets/img/s4.png" alt="">
                                        </a>
                                    </li>
									 <li>
                                        <a href="https://www.youtube.com/@healingpower" target="_blank">
                                             <img src="assets/img/s5.png" alt="">
                                        </a>
                                    </li>
                                    </ul>
						</div>
                    </div>
                </div>
            </div>
            <div class="sticky-wrapper">
                <div class="menu-area">
                   
                    <div class="container ">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <div class="header-logo">
                                    <a href="index.html" class="d-flex align-items-center">
							 
									<h3>Healer Sabu Joseph</h3></a>
                                </div>
                            </div>
                            <div class="col-auto">
							
							<div class="row align-items-center ">
							
							 <div class="col-auto">
							        <nav class="main-menu d-none d-lg-inline-block">
                                    <ul>
									 <li><a href="index.html">Home</a></li>
           <li><a href="about.html">About Us</a></li>
           <li><a href="courses.html">Courses</a></li>
		 
   <li><a href="testimonial.html">Testimonials</a></li>
     <li><a href="contact.html">Contact Us</a></li>
 
						  
 
  </ul>
                                </nav>
                              
                           
							</div>
							 <div class="col-auto">
							 <div class="hh-losec">
							 
						 
						 
							 <a href="#" data-bs-toggle="modal" data-bs-target="#SigninModal" class="h-login">Login</a>
							 </div>
							  <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
							</div>
							 
							</div>
							
							
                         
						   </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="th-hero-wrapper hero-1" id="hero">
            <div class="hero-slider-1 th-carousel number-dots" data-autoplay="false" data-autoplay-speed="3500" data-adaptive-height="true" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true">
                <div class="th-hero-slide">
                   <img src="assets/img/banner1.jpg" class="bann-img" alt="" width="100%">
				    <img src="assets/img/banner1-m.jpg" class="bann-mobile-img" alt="" width="100%">
                    <div class="Banner-slide ba-1" >

				   <div class="container">
                        <div class="hero-style1">
                           
                            <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s"> Oneness Homoeo & Acupuncture clinic is a trusted destination for Natural healing </h1>
           
                         
                        </div>
                    </div>
                        </div>
                </div>
				    <div class="th-hero-slide">
                   <img src="assets/img/banner2.jpg" class="bann-img" alt="" width="100%">
				    <img src="assets/img/banner2-m.jpg" class="bann-mobile-img" alt="" width="100%">
                    <div class="Banner-slide ba-2" >

				   <div class="container">
                        <div class="hero-style1">
                           
                            <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Empower Your Journey. Transform your life  </h1>
                            <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Your partner in Growth </p>
                         
                        </div>
                    </div>
                        </div>
                </div>
				                <div class="th-hero-slide">
                   <img src="assets/img/banner3.jpg" class="bann-img" alt="" width="100%">
				    <img src="assets/img/banner3-m.jpg" class="bann-mobile-img" alt="" width="100%">
                    <div class="Banner-slide ba-3" >

				   <div class="container">
                        <div class="hero-style1">
                           
                            <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">
							Natural Solutions for your good health</h1>
                           <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Oneness Homoeo & Acupuncture clinic is a trusted destination for Natural healing  </p>
                      
                        </div>
                    </div>
                        </div>
                </div>
				              
             
               
            </div>
			
			
			
        </div>
     
     <div class="Aboutt-ma-sec"  data-bg-src="assets/img/pattern__logo.webp">
	 <div class="container">
	 <div class="row align-items-center">
	 
	 <div class="col-lg-6">
	 <div class="abu-left">
	 	  	 <div class="title-area mb-15 ">
                            
                            <h2 class="sec-title  ">	Healer Sabu Joseph</h2>
                        </div>
						
						<p>Iam an ordinary man with Extra ordinary dreams creating supper humans Out of Ordinary people with Limitless possibilities</p>
						<p>I believe whatever I have achieved in my life are Just Blessings god has been gracious enough to use me as an Instrument  to transform millions of Lives</p>
						<p>Healer sabu joseph - Licenced NLP Practitioner, Mind power trainer ,Life coach,Certified Nutrition counselor,Acupuncturist.</p>
						<p> I blend intuitive guidance with practical strategies to help you reach your personal and proffessional goals</p>
						<a href="https://www.youtube.com/@healingpower" target="_blank" class="th-btn  ">Read More</a>
						
						
	 
	 </div>
	 
	 </div>
	 
	  <div class="col-lg-6">
	 <div class="abu-right">
	 
	 <img src="assets/img/sabu-joseph.jpg" alt="" width="100%">
	   
	  <div class="aatag"><span class="counter-number">10</span>+ years Experience</div>
	 </div>
	  </div>
	 </div>
	 
	 </div>
	 
	 </div>
	 
	 
	 </div>
	 
	 
	 <div class="Coursemsec">
	  <div class="container ">
	  	 	  	 <div class="title-area mb-50 text-center">
                            
                            <h2 class="sec-title  ">	Courses</h2>
							
							<p>Empower Your Future. Your Journey to Excellence Begins Here. </p>
                        </div>
	  </div>
	 <div class="container-fluid ">
	 
	 <div class="row">
	   <div class="col-lg-6 d-flex coo-1">
	 <div class="cou-left">
	 
	 <img src="assets/img/course/c1.jpg" alt="" width="100%">
	 </div>
	  </div>
	 	 <div class="col-lg-6 d-flex coo-2">
	 <div class="cou-right">
	 	   
                            <div class="ebd-soon jump">End Soon</div>
                            <h2  >	Mind Mastery silver membership class</h2>
                       
						
						<h3>7 Days online class</h3>
						
						<p>Tailored for you</p>
<p> Life coaching Sessions to Identify your goals, Remove blocks and Create a powerful action plan</p>
						
		<h4>Areas  specialises in :-</h4>				
			<ul><li>Confidence  & Self -Esteem	</li>	
<li> goal setting & Motivation	</li>	
<li> Overcoming Fear & Limiting Beliefs	</li>		
	 </ul>
	 
	 <div class="tour-listing__card-inner-content">
							<div class="ttpricesec">
							
							<p>7 Days course Fees</p>
							<h4 class="tour-listing__card-price">2000 ₹</h4>
							 
								</div>
                                    <div class="tour-listing__card-review-box">
									<a  href="course-detail.html">Buy Now</a>
                                       
                                       
                                    </div><!-- /.tour-listing__card-review-box -->
                              
                                  
                                
                                </div>
	 
	 </div>
	 
	 </div>
	 
	
	 
	 </div>
	 
	 </div>
	 
	 
	 </div>
	 
	     
	 
	      <div class="Feturesec" >
		  <div class="container">
		  
		    	 <div class="title-area mb-35 text-center">
                            
                            <h2 class="sec-title  ">	Why Choose Our Courses</h2>
                        </div>
		  	  <div class="row">
		  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f1.png">
		   <h3>Counselling right by your side</h3>
		  <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  
		  </div>
		  
		  </div>
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f2.png">
		   <h3>Trusted by students</h3>
		   <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  </div>
		  
		  </div>
		  
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox-img">
		  
		  <img src="assets/img/features/f3.jpg">
		  </div>
		  
		  </div>
		  
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f4.png">
		   <h3>Identify your goals</h3>
		   <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  </div>
		  
		  </div>
		  
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f5.png">
		   <h3>Highest  success rate</h3>
		   <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  </div>
		  
		  </div>
		  	  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox-img">
		  
		  <img src="assets/img/features/f5.jpg">
		  </div>
		  
		  </div>
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f7.png">
		   <h3>Your global partner in success
 </h3>
		   <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  </div>
		  
		  </div>
		  	  <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
		  
		  <div class="feturebox">
		   <img src="assets/img/features/f8.png">
		  <h3>Best  Courses</h3>
		   <p>Lorem ipsum dolor sit amet, elit, sed do eiusmod aliqua.</p>
		  </div>
		  
		  </div>
		  	   
		  </div>
		  	  </div>
		  </div>
		  
		  
		  
		   <div class="abb-sec"  >
	 
	 <div class="container">
	 
	 	 
	<div class="title-area mb-30 text-center">
                            
                            <h2 class="sec-title">Oneness Homoeo & Acupuncture Clinic</h2>
							<h3>Natural Solutions for your good health</h3>		
                        </div>
	 <div class="row   align-items-center">
	 
	 <div class="col-lg-4">
	 
	 <div class="abb-left">
	  <div class="abb-left-ii">
	 <img src="assets/img/about.jpg" alt="" width="100%">
	  <div class="sstag"><span class="counter-number">15</span>+ years Experience</div>
</div>
	 <div class="MsgBox">
	
	 	 
                            <div class="Name"> Dr.Nanditha Sabu BHMS, DAsc</div>
                          
                        </div>
	 </div>
	 </div>
	 	 <div class="col-lg-5">
	 
	 <div class="abb-right">

				
	<p  > 
Oneness Homoeo & Acupuncture clinic is a trusted destination for Natural healing and well-being Led by Dr.Nanditha sabu BHMS DAsc,Hr.Sabu joseph Certified Nutrition Counsellor,Licenced NLP Practitioner, Acupuncturist,Mind Power trainer,Life coach
</p>

<p>  our clinic Offers Expert Homoeopathic Treatment, Acupuncture Therapies rooted in tradition and Delivered with Compassion we specialised in Allergy Asthma, PCOD, Infertility  Disc bulging, Low back pain,Migraine, Sinusitis, Hemorrhoids (piles ) All gynaecological Disorders...</p>
<a href="#oneness-clinic"   class="th-btn">Read More</a>
	 </div>
	 </div>
	 
	 
	 <div class="col-lg-3">
	 <div class="about-22">
 	 <img src="assets/img/about1.jpg" alt="" width="100%">
</div>

</div>
	 </div>
	 
	 
	 
	 </div>
	 
	 
	 </div>
	 
	 <div class="New-featuresec">
	 
	 <div class="container">
	 
	 <div class="row justify-content-between">
	 
	 <div class="col-lg-4 col-md-4 d-flex">
	 
	 <div class="new-ffsec">
	 
	 <img src="assets/img/f1.png" alt="">
	  <div class="new-ffsec-sub">
	 <h3> Personalized Treatment</h3>
	 
	 <p>We tailor every session to the Unique needs of our Patients because every individual  heals differently</p>
	 </div>
	  </div>
	 </div>
	  <div class="col-lg-4 col-md-4 d-flex">
	 
	 <div class="new-ffsec">
	 
	 <img src="assets/img/f2.png" alt="">
	  <div class="new-ffsec-sub">
	 <h3> Mission</h3>
	 
	 <p>Delivering Authentic effective and affordable Wellness Solutions All</p>
	 </div>
	  </div>
	 </div>
	  <div class="col-lg-4 col-md-4 d-flex">
	 
	 <div class="new-ffsec">
	 
	 <img src="assets/img/f3.png" alt="">
	  <div class="new-ffsec-sub">
	 <h3><span class="counter-number">15</span>+ Years Experiance</h3>
	 
	 <p>We years experiance in Homoeopathic Treatment, Acupuncture Therapies etc.</p>
	 </div>
	  </div>
	 </div>
	 
	 
	 </div>
	 
	 </div>
	 
	 </div>
	 
	  <!-- <div class="Reviewsec">
	  <div class="container">
	  
	  <div class="title-area mb-0 text-center">
                            
                            <h2 class="sec-title">Our Clinic Testimonials</h2>
						 
                        </div>
		 	<div class="tagembed-widget" style="width:100%;height:100%;overflow:auto;" data-widget-id="293017" website="1"></div><script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script>
		 
		 	
 </div>
	 </div>
	  -->
	     <div class="Vidoetestimonial-sec" id="oneness-clinic">
            
            <div class="container"  data-aos="zoom-in" data-aos-duration="800">
                <div class="title-area mb-30 text-center">
                   
                    <h2 class="sec-title"> Our Clinic  Video Testimonials</h2>
					
					 
                </div>
			  <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class=" text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="qRLnFt7A7Qc">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class="  text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="0qcf7B8CU8U">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class="  text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="qRLnFt7A7Qc">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
   
     
 
      
      
        </div>
  </div>
</div>
	 	<div class="sechedulesec">
		<div class="container">
		<div class="row justify-content-center">
		<div class="col-xl-8 col-lg-12"  data-aos="zoom-in" data-aos-duration="800">
		 <div class="ccosec">
		<div class="title-area mb-0 text-center">
                 
                    <h2 class="sec-title"> Contact    us with  today! </h2>
				 
					<h3>Call Us: <a href="tel:+91 9747532827">+91 9747532827</a> | Email Us: <a href="mailto:info@oneness.com">info@oneness.com</a></h3>
                </div>
		 </div>
		</div>
		
		</div>
		
		</div>
		
		</div>
 

	 
	 
	
       
   
    
	
    <section class="testimonial-sec">
            <div class="shape-mockup" data-top="1%" data-right="0"><img src="assets/img/shape/earth_1.png" alt="shape" /></div>
            <div class="container"  data-aos="zoom-in" data-aos-duration="800">
                <div class="title-area mb-30 text-center">
                   
                    <h2 class="sec-title">What Our Student's Says</h2>
					
					<p>Success stories  From Those who transformed. ..</p>
                </div>
                <div class="row slider-shadow th-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" >
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="assets/img/testimonial/t1.jpg" alt="Avater" />
                                <div class="play-btn"><i class="fa-solid fa-quote-right"></i></div>
                            </div>
                            <div class="testi-box_content">
                                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
                                 <h3 class="testi-box_name">Michel Jordan</h3>
                                <p class="testi-box_desig">Kochi</p>
								
								<div class="testi-grid_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="assets/img/testimonial/t2.jpg" alt="Avater" />
                                <div class="play-btn"><i class="fa-solid fa-quote-right"></i></div>
                            </div>
                            <div class="testi-box_content">
                                 <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  aliqua.</p>
                                <h3 class="testi-box_name">James Charles</h3>
                                <p class="testi-box_desig">Kochi</p>
								<div class="testi-grid_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="assets/img/testimonial/t3.jpg" alt="Avater" />
                                <div class="play-btn"><i class="fa-solid fa-quote-right"></i></div>
                            </div>
                            <div class="testi-box_content">
                                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  aliqua.</p>
                                <h3 class="testi-box_name">Mason Robert</h3>
                                <p class="testi-box_desig">Kochi</p>
								<div class="testi-grid_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="assets/img/testimonial/t4.jpg" alt="Avater" />
                                <div class="play-btn"><i class="fa-solid fa-quote-right"></i></div>
                            </div>
                            <div class="testi-box_content">
                                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
                                <h3 class="testi-box_name">Mariana Mojarin</h3>
                                <p class="testi-box_desig">Kochi</p>
								<div class="testi-grid_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		          <div class="container">
	         <div class="Countersec"   >
  
                <div class="counter-card-wrap">
                    <div class="counter-card style2"  data-aos="zoom-in" data-aos-duration="800">
					<div class="co-icon"><img src="assets/img/c1.png" alt=""></div>
                        <h2 class="counter-card_number"><span class="counter-number">2000</span>+</h2>
                        <span class="counter-card_text">Happy Customers</span>
                    </div>
                    <div class="counter-card style2"  data-aos="zoom-in" data-aos-duration="800">
					<div class="co-icon"><img src="assets/img/c2.png" alt=""></div>
                        <h2 class="counter-card_number"><span class="counter-number">90,00</span>+</h2>
                        <span class="counter-card_text">Happy Families</span>
                    </div>
                   
                    <div class="counter-card style2"  data-aos="zoom-in" data-aos-duration="800">
					<div class="co-icon"><img src="assets/img/c3.png" alt=""></div>
                        <h2 class="counter-card_number"><span class="counter-number">	
200</span>+</h2>
                        <span class="counter-card_text">Students</span>
                    </div>
					 <div class="counter-card style2"  data-aos="zoom-in" data-aos-duration="800">
					 <div class="co-icon"><img src="assets/img/c4.png" alt=""></div>
                        <h2 class="counter-card_number"><span class="counter-number">100</span>%</h2>
                        <span class="counter-card_text"> Satisfaction</span>
                    </div>
                </div>
            </div>
        </div>
		
		
			
    <div class="Vidoetestimonial-sec">
            
            <div class="container"  data-aos="zoom-in" data-aos-duration="800">
                <div class="title-area mb-30 text-center">
                   
                    <h2 class="sec-title">  Student's  Video Testimonials</h2>
					
					 
                </div>
	  <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class=" text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="qRLnFt7A7Qc">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class="  text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="0qcf7B8CU8U">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-10 d-flex">
        <div class="  text-center media-box fbox-bg">
								<div class="fbox-media">
                                 <div class="wrapper">
  <div class="youtube" data-embed="qRLnFt7A7Qc">
    <div class="play-button"></div>
  </div>
</div>
                                 
                                 </div>
								<div class="fbox-content">
									<h3>Lorem Ispum Dummy </h3>
								</div>
							</div>
      </div>
   
     
 
      
      
        </div>
  </div>
</div>
        <footer class="footer-wrapper footer-layout1"  >
	 
	 
            <div class="widget-area">
                <div class="container">
				<div class="footer-newsletter2 ">
        <div class="row align-items-center justify-content-between">
        
		  
		    <div class="col-auto">
		  
		  <div class="foo-logo">
                                    <a href="index.html" class="d-flex align-items-center">
									 
									<h3>Healer Sabu Joseph </h3></a>
                                </div>  </div>
          <div class="col-auto">
            <div class="Social-img">
			
			<a href="#" target="_blank"><img src="assets/img/s1.png" alt=""></a>
			<a href="#" target="_blank"><img src="assets/img/s2.png" alt=""></a>
			<a href="#" target="_blank"><img src="assets/img/s3.png" alt=""></a>
			<a href="#" target="_blank"><img src="assets/img/s4.png" alt=""></a>
			<a href="https://www.youtube.com/@healingpower" target="_blank"><img src="assets/img/s5.png" alt=""></a>
			</div>
          </div>
        </div>
      </div>
	 
                    <div class="row justify-content-between">
                        <div class="col-md-4 col-sm-4 col-xl-auto col-lg-auto">
                            <div class="widget footer-widget">
       <h3 class="widget_title">Contact Info</h3>
                                   <div class="th-widget-contact">
                                    <div class="info-box">
                                      <h3 CLASS="DDRRR">Call Us</h3>
                                        <p class="info-box_text"><a href="tel:+91 9747532827">+91 9747532827</a></p>
                                    </div>
                                                                       <div class="info-box">
                                      <h3 CLASS="DDRRR">Email Us</h3>
                                        <p class="info-box_text"><a href="mailto:info@oneness.com">info@oneness.com</a></p>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                   
						<div class="col-md-4 col-sm-4 col-xl-auto col-lg-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Quick Links</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
           <li><a href="index.html">Home</a></li>                                 
   <li><a href="about.html">About Us</a></li>
<li><a href="courses.html">Courses</a></li>
 
<li><a href="testiminial.html">Testimonials</a></li>


 
 
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-md-4 col-sm-4 col-xl-auto col-lg-auto">
                            <div class="widget widget_nav_menu footer-widget">
                                <h3 class="widget_title">Information</h3>
                                <div class="menu-all-pages-container">
                                    <ul class="menu">
                                         
 

<li><a href="contact.html">Contact us</a></li>
<li><a href="#" data-bs-toggle="modal" data-bs-target="#SigninModal">Login</a></li>

 
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6   col-lg-2">
                            <div class="widget footer-widget">
                                <h3 class="widget_title">Locate   Us</h3>
                                <div class="th-widget-contact">
                                    <div class="info-box">
                                      
                                        <p class="info-box_text">Oneness Homoeo & Acupuncture Clinic<br>pallippadi stop, Mookkannoor, Kerala 683577</p>
                                    </div>
                                   
                                   
                                </div>
                            </div>
                        </div>
                             <div class="col-md-6 col-sm-6   col-lg-3">
                            <div class="widget footer-widget">
                                <h3 class="widget_title">Working Hours</h3>
                                <div class="th-widget-contact">
                                    <div class="info-box">
                                      
                                        <p class="info-box_text">Mon - Sat:9:00 Am - 8:00 Pm</p>
										 <p class="info-box_text">Sun:Closed </p>
                                    </div>
                                   
                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="copyright-wrap">
                <div class="container text-center">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2025 <a href="index.html">Healer Sabu Joseph</a>. All Rights Reserved.  Web Design By <a href="https://www.techsoftweb.com/" target="_blank"> Techsoft</a></p>
                </div>
            </div>
        </footer>
		
        <div class="scroll-top">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
            </svg>
        </div>
		<div class="modal fade singnup-modal" id="SigninModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modelcontainer right-panel-active" id="container">
        <div class="form-container sign-up-container">
		<div class="formsec">
          <form action="my-account.html" method="post">
		  <h2>Sign in</h2>
          
            <input type="email" placeholder="Email"  required>
            <input type="password" placeholder="Password" required>
			
         
            <button class="th-btn mt-10" name="Submit">Login</button>
			 <a href="#" data-bs-toggle="modal" data-bs-target="#forgotModal" data-bs-dismiss="modal" aria-label="Close" class="ff" >Forgot your password?</a>
			 
		  
		  <div class="row justify-content-center align-items-center">
 
		 
		  
		  
		    </div>
          </form>
		  
		 
		  </div>
        </div>
       
        
      </div>
    </div>
  </div>
</div>
</div>





<div class="modal fade singnup-modal" id="forgotModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modelcontainer right-panel-active" id="container">
        <div class="form-container sign-up-container">
		<div class="formsec">
          <form action="#" class="mb-20">
		  <h2>Forgot Password</h2>
          
            <input type="email" placeholder="Email"  required>
 
			
         
            <button class="th-btn mt-10" name="Suibmit">Submit Now</button>
			 
	 
 
          </form>
		  
		 
		  </div>
        </div>
       
        
      </div>
    </div>
  </div>
</div>
 	<div class="fixedRit">

  <ul>
  <li> <a  class="whatsapp" href="https://api.whatsapp.com/send/?phone=+91 9747532827&text=%2AHey Oneness Homoeo & Acupuncture Clinic+&app_absent=0" target="_blank">

      <div class="align"> <i  class="fab fa-whatsapp" aria-hidden="true"></i>  </div>

      </a> </li>
	  <li> <a class="mail" href="mailto:info@oneness.com">

      <div class="align"> <i class="fas fa-envelope" aria-hidden="true"></i>  </div>

      </a> </li>
    <li> <a class="call" href="tel:+91 9747532827">

      <div class="align"> <i class="fa fa-phone" aria-hidden="true"></i>  </div>

      </a> </li>


  

      
 

  </ul>

</div>

  <ul class="sti-menu ">
 <li><a  href="tel:+91 974753282">  <i><img src="assets/img/fi-1.png" alt=""></i><span>Call</span></a></li>
 <li><a href="mailto:info@oneness.com"  ><i><img src="assets/img/fi-2.png" alt=""></i><span>Mail </span></a></li>   
 <li><a href="https://api.whatsapp.com/send/?phone=+91 9747532827&text=%2AHey Oneness Homoeo & Acupuncture Clinic+&app_absent=0" target="_blank"  > <i><img src="assets/img/fi-3.png" alt=""></i><span>Whats App</span></a></li>
 <li><a href="contact.html"  >  <i><img src="assets/img/fi-4.png" alt=""></i><span>Contact</span></a></li>            
  </ul>
		 
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/app.min.js"></script>
        <script src="assets/js/main.js"></script>
		 
			<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
  <script>
  AOS.init({
  offset: 20,
});
</script>
	<script>


 var header = $('#header-sticky');
    var win = $(window);
    
    win.on('scroll', function() {
        if ($(this).scrollTop() > 400) {
           
			 $(".fixedRit").addClass("fixedRit-sticky");
		
			 
			 
        } else {
           
			$(".fixedRit").removeClass("fixedRit-sticky");
		
			
			
        }
    });
</script> 

  <script>



( function() {

  var youtube = document.querySelectorAll( ".youtube" );
  
  
  for (var i = 0; i < youtube.length; i++) {
    
    var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/hqdefault.jpg";
    
    var image = new Image();
        image.src = source;
        image.addEventListener( "load", function() {
          youtube[ i ].appendChild( image );
        }( i ) );
    
        youtube[i].addEventListener( "click", function() {

          var iframe = document.createElement( "iframe" );

              iframe.setAttribute( "frameborder", "0" );
              iframe.setAttribute( "allowfullscreen", "" );
              iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

              this.innerHTML = "";
              this.appendChild( iframe );
        } );  
  };
  
} )();





</script>
    </body>
    
</html>
